@model long

@{
    ViewBag.Title = @I18N.OpeningInventory;
    Layout = ViewBag.InventoryLayoutPath;
}
<style>
    iframe {
        display: block;
        margin-top: 1em;
        width: 800px;
        height: 800px;
        border: 1px solid #ccc;
    }
</style>
<div class="ui attached page segment" style="min-height: 100%; padding: 3em;">
    <div class="ui huge header">@I18N.OpeningInventory</div>
    <div class="ui divider"></div>

    <div class="ui positive message">@I18N.TransactionPostedSuccessfully</div>

    <a href="/dashboard/inventory/setup/opening-inventory" class="ui green button">
        @I18N.ViewOpeningInventories
    </a>
    <a href="/dashboard/inventory/setup/opening-inventory/new" class="ui red button">
        @I18N.AddNewOpeningInventory
    </a>
    <iframe src="/dashboard/reports/source/Areas/MixERP.Inventory/Reports/Opening.xml?transaction_master_id=@Model"></iframe>
</div>


<script>
    window.overridePath = "/dashboard/inventory/setup/opening-inventory";
</script>